<h2 mat-dialog-title>Confirmation supression</h2>
<mat-dialog-content>Êtes-vous sûr de vouloir supprimer votre compte ?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Non</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Oui</button>
</mat-dialog-actions>