<div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">


    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Create your event !</mat-card-title>
      </mat-card-header>

      <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="submit(form)">

            <div class="example-container">
                        <mat-form-field >
                            <i class="material-icons" matSuffix>toc</i>
                          <input matInput placeholder="Titre de votre evenement" formControlName="title" required>
                          <mat-error *ngIf="form.get('title').hasError('required')">Champs obligatoire</mat-error>
                          <mat-error *ngIf="form.get('title').hasError('maxlength')">15 caractères maximum</mat-error>
                        </mat-form-field>
            </div>

              <div class="example-container">
                  <mat-form-field>
                      <i class="material-icons" matSuffix>category</i>
                        <mat-select placeholder="Choisir une catégorie" formControlName="category" required>
                        <mat-option value="Sport">Sport</mat-option>
                        <mat-option value="Cuisine">Cuisine</mat-option>
                        <mat-option value="Informatique">Informatique</mat-option>
                        <mat-option value="LectureCulture">Lecture/Culture</mat-option>
                        <mat-option value="Photographie">Photographie</mat-option>
                        <mat-option value="Musique">Informatique</mat-option>
                        <mat-option value="BienEtre">Bien-Être</mat-option>
                        <mat-option value="Film">Film</mat-option>
                        <mat-option value="ModeBeaute">Mode/Beauté</mat-option>
                        <mat-option value="Art">Art</mat-option>


                      </mat-select>
                    </mat-form-field>
                  </div>

                <div class="example-container">
                    <mat-form-field >
                        <i class="material-icons" matSuffix>description</i>
                      <textarea matInput placeholder="Décrivez votre evenment" formControlName="description" required></textarea>
                      <mat-error *ngIf="form.get('description').hasError('required')">Champs obligatoire</mat-error>
                      <mat-error *ngIf="form.get('description').hasError('maxlength')">15 caractères maximum</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="example-container">
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="Choisir une date de début" formControlName="dateStartEvent">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="form.get('dateStartEvent').hasError('required')">Champs obligatoire</mat-error>

                    </mat-form-field>
                  </div>

                  <div class="example-container">
                      <mat-form-field>
                          <input matInput [matDatepicker]="pickertwo" placeholder="Choisir une date de fin" formControlName="dateEndEvent">
                          <mat-datepicker-toggle matSuffix [for]="pickertwo"></mat-datepicker-toggle>
                          <mat-datepicker #pickertwo></mat-datepicker>
                          <mat-error *ngIf="form.get('dateEndEvent').hasError('required')">Champs obligatoire</mat-error>

                        </mat-form-field>

                      </div>

                  <div class="example-container">
                      <mat-form-field >
                          <i class="material-icons" matSuffix>accessibility</i>
                        <input matInput placeholder="Entrez l'age minimum pour participer à votre evenement" formControlName="nbAgeMin" required>
                        <mat-error *ngIf="form.get('nbAgeMin').hasError('required')">Champs obligatoire</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="example-container">
                        <mat-form-field >
                            <i class="material-icons" matSuffix>how_to_reg</i>
                          <input matInput placeholder="Entrez le nombre maximum de participants" formControlName="nbParticipationMax" required>
                          <mat-error *ngIf="form.get('nbParticipationMax').hasError('required')">Champs obligatoire</mat-error>
                          <mat-error *ngIf="form.get('nbParticipationMax').hasError('maxlength')">15 caractères maximum</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="example-container">
                          <mat-form-field >
                              <i class="material-icons" matSuffix>location_city</i>
                            <input matInput placeholder="Entrez votre ville" formControlName="city_coord" required [matAutocomplete]="auto">
                            <mat-error *ngIf="form.get('city_coord').hasError('required')">Champs obligatoire</mat-error>
                            <mat-error *ngIf="form.get('city_coord').hasError('maxlength')">15 caractères maximum</mat-error>

                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                                  {{option.name}}
                                </mat-option>
                              </mat-autocomplete>

                          </mat-form-field>
                        </div>
                  </form>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button (click)="submit(form)" color="primary" [disabled]="form.invalid">Register</button>
      </mat-card-actions>
    </mat-card>
      </div>
      <div class="col-sm-3"> </div>
    </div>
  </div>

