.example-card {
    margin-bottom: 1%;
}

.boldText {
    font-weight: bold;
}

.match-parent {
  width: 600px;
  height: 1200px;
  position: fixed;

}

.row {
  margin-bottom: 2%;
}

.center {
  margin-left: 40%;
  /* margin-left: auto; */
  margin-right: auto;
}
