<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Désolé, une erreure est survenue, la page demandée n'existe pas!
                </div>
                <div class="error-actions">
                  <button class="btn btn-primary" [routerLink]="['/eventList']">Liste d'évènements</button>


                </div>
            </div>
        </div>
    </div>
</div>
